<div id="carouselDarkVariant" class="carousel slide carousel-dark" data-bs-ride="carousel">
  <div class="carousel-inner pb-5">
      <div class="carousel-item active size">
          <div class="row d-flex justify-content-center intro-background1">
              <div class="intro-background text-center d-flex align-items-center justify-content-center">
                  <div class="poppins-bold-italic">
                      <div class="text-center">
                          <div class="row">
                              <div class="col-auto d-flex align-items-center intro-text">
                                  <img class="logoBack mr-2 p-4" src="/assets/logo.jpeg" alt="">
                                  <div class="titleimage mb-0 ml-2 barlow-condensed-thin">
                                      <span class="text-orange">Cooray's </span>
                                      <span class="text-default">Coconuts</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="carousel-item size">
          <div class="row d-flex justify-content-center intro-background2">
              <div class="intro-background text-center d-flex align-items-center justify-content-center">
                  <div class="poppins-bold-italic">
                      <div class="text-center">
                          <div class="row">
                              <div class="col-auto d-flex align-items-center intro-text">
                                  <img class="logoBack mr-2 p-4" src="/assets/logo.jpeg" alt="">
                                  <div class="titleimage mb-0 ml-2 barlow-condensed-thin">
                                      <span class="text-orange">Cooray's </span>
                                      <span class="text-default">Coconuts</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="carousel-item size">
          <div class="row d-flex justify-content-center intro-background3">
              <div class="intro-background text-center d-flex align-items-center justify-content-center">
                  <div class="poppins-bold-italic">
                      <div class="text-center">
                          <div class="row">
                              <div class="col-auto d-flex align-items-center intro-text">
                                  <img class="logoBack mr-2 p-4" src="/assets/logo.jpeg" alt="">
                                  <div class="titleimage mb-0 ml-2 barlow-condensed-thin">
                                      <span class="text-orange">Cooray's </span>
                                      <span class="text-default">Coconuts</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>


  </div>
</div>
