<app-navbar></app-navbar>
<br><br>
<br><br>
<br><br>

<div class="container-fluid">

    <button type="button" class="btn btn-success ml-5">Medicine</button>
    <div class="container">
        <div class="image">
            <img src="./assets/coconut-tree-identification.jpeg" alt="Coconut Tree Identification">
        </div>
        <div class="description">
            <h1>Types of Coconut Tree</h1>
            <ul>
                <li><strong>West Coast Tall Coconut:</strong> Reaches up to 100 feet</li>
                <li><strong>Chandrakalpa Coconut:</strong> Grows between 50-60 feet</li>
                <li><strong>East Coast Tall Coconut:</strong> Typically 90 feet tall</li>
                <li><strong>Panama Tall Coconut:</strong> Also around 90 feet in height</li>
                <li><strong>Macapuno Coconut:</strong> Shorter variety, about 16 feet tall</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="image">
            <img src="./assets/cocnut-details.jpeg" alt="Coconut Tree Identification">
        </div>
        <div class="description">
            <h1>Comprehensive Guide to Identifying Coconut Trees</h1>
            <ul>
                <li><strong>Leaves:</strong> Long, pinnate leaves with feather-like leaflets</li>
                <li><strong>Flowers:</strong> Large clusters of tubular, fragrant flowers in creamy yellow or light
                    green</li>
                <li><strong>Fruits:</strong> Large, round coconuts with fibrous husk and hard shell containing edible
                    meat and water</li>
                <li><strong>Trunk & Bark:</strong> Smooth, grayish-brown cylindrical trunk thickening at the base</li>
                <li><strong>Height:</strong> 60-100 feet</li>
            </ul>
        </div>
    </div>


</div>