<!-- <div class="intro-background text-center d-flex align-items-center justify-content-center">
  <div class="poppins-bold-italic">
    <div class="text-center">
      <div class="row">
        <div class="col-auto d-flex align-items-center intro-text">
          <img class="logoBack mr-2 p-4" src="/assets/logo.jpeg" alt="">
          <div class="titleimage mb-0 ml-2">
            <span class="text-orange">Cooray's </span>
            <span class="text-default">Coconuts</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


    <section class="py-5 mt-4">
      <div class="container">
        <div class="row align-items-center gx-4">
          <div class="col-md-5">
            <div class="ms-md-2 ms-lg-5"><img class="img-fluid rounded-3" src="./assets/aboutus.jpg"></div>
          </div>
          <div class="col-md-6 offset-md-1">
            <div class="ms-md-2 ms-lg-5">

              <h1 class="display-5 fw-bold">About Us</h1>
              <p class="lead justify-content-center">Our project is a coconut management system eliminating intermediaries, ensuring low coconut prices. Entities include companies, sellers, and customers, with sellers managing offers and customers buying directly.</p>
              <!-- <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p> -->
            </div>
          </div>
        </div>
      </div>
    </section>
<hr>
