.gradient-custom-3 {
    background-image: url('/assets/coconut-back.jpg');
    background: #84fab0;
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
}

.gradient-custom-4 {
    background: #84fab0;
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
}

.fit-image {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.bg-image {
    background-image: url("/assets/coconut-back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
