<app-navbar></app-navbar>

<br>
<div class="container-fluid mt-5 bg-color">
  <br>
<div class="col-3 text-start"><button type="button" class="btn btn-primary " routerLink=""><i class="bi bi-arrow-left" ></i>Back</button></div>
    <div class="container mt-5">
        <section class="vh-100" style="background-color: #21a33d;">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                  <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                      <div class="col-md-6 col-lg-5 d-none d-md-block">
                        <img src="/assets/loginimg.jpeg"
                          alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                      </div>
                      <div class="col-md-6 col-lg-7 d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">

                          <form (ngSubmit)="login()">

                            <div class="d-flex align-items-center mb-3 pb-1">
                              <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                              <img class="imgSize" src="/assets/logo.jpeg" alt="">
                              <h3>Cooray's Coconuts</h3>
                            </div>

                            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                            <div data-mdb-input-init class="form-outline mb-4">
                              <input [(ngModel)]="username" name="username" type="text" id="form2Example17"  class="form-control form-control-lg" required>
                              <label class="form-label" for="form2Example17">Username</label>
                            </div>

                            <div data-mdb-input-init class="form-outline mb-4">
                              <input [(ngModel)]="password" name="password" type="password" id="form2Example27" class="form-control form-control-lg" required>
                              <label class="form-label" for="form2Example27">Password</label>
                            </div>

                            <div class="pt-1 mb-4">
                              <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                            </div>

                            <a class="small text-muted" data-bs-toggle="modal" data-bs-target="#resetPasswordModal" href="#!">Forgot password?</a>
                            <p class=" pb-lg-2" style="color: #393f81;">If you are new company <a  routerLink="/register"
                                style="color: #393f81;">Register here</a></p>
                                <p class="mb-5 pb-lg-2" style="color: #393f81;">If you are new Seller <a  routerLink="/seller-Reg"
                                  style="color: #393f81;">Register here</a></p>
                            <a href="https://coconut-merchant.com/pages/t-cs" class="small text-muted">Terms of use.</a>
                            <a href="https://coconut-merchant.com/pages/t-cs" class="small text-muted">Privacy policy</a>
                          </form>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="resetPasswordModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="resetPasswordModalLabel">Reset Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form (ngSubmit)="resetPassword()">
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required>
                        <button type="button" class="btn btn-secondary mt-2" (click)="getOtp()">Request OTP</button>
                      </div>
                      <div class="form-group">
                        <label for="otp">OTP</label>
                        <input type="text" class="form-control" id="otp" [(ngModel)]="otp" name="otp" required>
                      </div>
                      <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPw" name="newPassword" required>
                      </div>
                      <button type="submit" class="btn btn-primary">Reset Password</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </div>
</div>
