<section class="light">
    <div class="container py-2">
        <div class="h1 text-center text-dark" id="pageHeaderTitle">Services</div>

        <article class="postcard light blue">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="/assets/service-1.jpeg" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title blue"><a href="#">Coconut Harvesting</a></h1>
                <div class="postcard__subtitle small">

                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Coconut Kernels are first disintegrated into small pieces in a
                    Disintegrator and then fed into a screw press for milk extraction. The oil is then separated from
                    the water using a mechanical centrifuge. The result is a clear coconut oil that retains the distinct
                    scent and taste of coconuts.</div>
                <ul class="postcard__tagbox">


                    <li class="tag__item play blue">
                        <a href="#"><i class="fas fa-play mr-2"></i>Get</a>
                    </li>
                </ul>
            </div>
        </article>
        <article class="postcard light red">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="/assets/service-2.jpeg" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title red"><a href="#">coconut processing</a></h1>
                <div class="postcard__subtitle small">

                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Coconut Kernels are first disintegrated into small pieces in a
                    Disintegrator and then fed into a screw press for milk extraction. The oil is then separated from
                    the water using a mechanical centrifuge. The result is a clear coconut oil that retains the distinct
                    scent and taste of coconuts.</div>
                <ul class="postcard__tagbox">

                    <li class="tag__item play red">
                        <a href="#"><i class="fas fa-play mr-2"></i>Get</a>
                    </li>
                </ul>
            </div>
        </article>
        <article class="postcard light green">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="/assets/service-3.jpeg" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title green"><a href="#">Coconut Farm Manangement</a></h1>
                <div class="postcard__subtitle small">

                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Coconut farming is the cultivation of the versatile and beneficial
                    Coconut palm. It involves growing these tall, graceful trees for their various products, such as
                    Coconuts, Coconut water, oil, and husks.</div>
                <ul class="postcard__tagbox">

                    <li class="tag__item play green">
                        <a href="#"><i class="fas fa-play mr-2"></i>Get</a>
                    </li>
                </ul>
            </div>
        </article>
        <article class="postcard light yellow">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="/assets/service-4.jpeg" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title yellow"><a href="#">Coconut Product Distribution</a></h1>
                <div class="postcard__subtitle small">

                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">The use of these coconut products also adds some texture to some
                    formulations and recipes due to the fat in the coconuts, and to the dried, shredded consistency of
                    the coconut meat. So for taste, texture and interest, a small amount of coconut and/or its products
                    may be helpful additions.</div>
                <ul class="postcard__tagbox">

                    <li class="tag__item play yellow">
                        <a href="#"><i class="fas fa-play mr-2"></i>Get</a>
                    </li>
                </ul>
            </div>
        </article>
        <article class="postcard light yellow">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="/assets/service-5.jpeg" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title yellow"><a href="#">Coconut Waste Management</a></h1>
                <div class="postcard__subtitle small">

                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Coconut husk can be greatly transformed into a value-added fuel
                    source that can effectively replace wood and other traditional forms of fuel. With regards to
                    availability and overall costs, the coconut husk stands a really good chance to replace other fuel
                    in power plants.</div>
                <ul class="postcard__tagbox">

                    <li class="tag__item play yellow">
                        <a href="#"><i class="fas fa-play mr-2"></i>Get</a>
                    </li>
                </ul>
            </div>
        </article>
        <article class="postcard light yellow">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="/assets/service-6.jpeg" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title yellow"><a href="#">Coconut Trees Maintainence</a></h1>
                <div class="postcard__subtitle small">

                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Give your plant in a container or the ground at least one inch of
                    water per week. As long as your soil type is right, and good drainage is present, you can water in
                    any format. In areas where palms are grown commercially, for their coconut meat, they are watered by
                    drip irrigation with liters at a time every few days.</div>
                <ul class="postcard__tagbox">

                    <li class="tag__item play yellow">
                        <a href="#"><i class="fas fa-play mr-2"></i>Get</a>
                    </li>
                </ul>
            </div>
        </article>
    </div>
</section>