:root {
  --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}

body {
  background: #54af18 !important;
}

.card {
  background: #63a52e;
  border: 1px solid #dd2476;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 2rem;
}

.btn {
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient) !important;
  -webkit-background-clip: text !important;
  
  border-image-source:  var(--gradient) !important; 
  text-decoration: none;
  transition: all .4s ease;
  border: transparent;
  color :#000000 !important;
}

.btn:hover, .btn:focus {
      background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 5px solid #dbcece !important; 
  box-shadow: #fffcfc 1px 0 10px;
  text-decoration: underline;
}